@import 'variables';

%Container {
  max-width: $size-content-width;
  width: 100%;
  margin: 0 auto;
  padding: 0 $size-padding;
}

%FlexColumn {
  display: flex;
  flex-direction: column;
  gap: $size-gap;
}

%BgImage {
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
