$color-main-light: #ffffff;
$color-main-dark: #222222;
$color-dark: #000000;
$color-background-light: #edeef0;
$color-nav-hover: #cfcfd2;
$color-nav-hover-dark: #b0b0b0;
$color-background-dark: #141414;
$color-nav-count: #828282;
$color-border: #bfbfbf;
$color-save-button: #447bba;
$color-stop-editing-post: #ff0000;
$color-error-message-background: #ffccc7;

$color-button: #447bba;
$color-button-hover: #5989c0;

$size-content-width: 1200px;
$size-border-radius: 1.2rem;
$size-padding: 1.5rem;
$size-gap: 1.5rem;
$size-friend-avatar: 6rem;
$size-hover-percent: 15%;
$size-small-font: 1.3rem;
$size-button-height: 3.7rem;
