@import '../../styles/variables';
@import '../../styles/mixins';

.select {
  margin-left: auto;
  width: 63%;
  min-width: 17rem;
  user-select: none;
  position: relative;

  &__button {
    padding: 0.5rem 1rem;
    width: 100%;
    border: 1px solid $color-background-light;
    border-radius: 0.5rem;
    font-family: Roboto-Regular, sans-serif;
    font-size: 1.4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &:hover {
      cursor: pointer;
    }
  }

  &__content {
    width: 100%;
    border: 1px solid $color-background-light;
    border-top: none;
    border-radius: $size-border-radius;
    overflow: hidden;
    position: absolute;
    top: 100%;
    left: 0;
  }

  &__item {
    padding: 1rem;
    font-size: 1.4rem;

    &:hover {
      cursor: pointer;
    }
  }

  &_light {
    .select__button,
    .select__item {
      color: $color-dark;
    }

    .select__item {
      &:hover {
        background-color: $color-border;
      }
    }

    .select__content {
      background-color: $color-main-light;
    }
  }

  &_dark {
    .select__button,
    .select__item {
      color: $color-main-light;
    }

    .select__item {
      &:hover {
        background-color: $color-nav-count;
      }
    }

    .select__button,
    .select__content {
      border-color: $color-nav-count;
    }

    .select__content {
      background-color: $color-main-dark;
    }
  }
}

@media (max-width: 650px) {
  .select {
    width: 100%;
  }
}
