@import '../../styles/variables';
@import '../../styles/mixins';

.comment {
  padding: $size-padding $size-padding 0.5rem;
  max-width: 67rem;
  font-family: Roboto-Regular, sans-serif;

  &:not(:last-child) {
    border-bottom: 1px solid $color-nav-count;
  }

  &__header {
    padding-bottom: $size-padding;
    position: relative;
    display: flex;
  }

  &__avatar {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    overflow: hidden;

    & img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__info {
    margin-left: $size-padding;
  }

  &__author {
    font-size: 1.2rem;
  }

  &__time {
    color: $color-nav-count;
    font-size: 1rem;
  }

  &__deleteWrapper {
    width: 1.8rem;
    height: 1.8rem;
    position: absolute;
    top: 0;
    right: 0;
  }

  &__deleteButton {
    width: 100%;
    height: 100%;
    font-size: 1.8rem;
  }

  &__text {
    font-size: 1.2rem;
  }

  &_light {
    background-color: $color-main-light;

    .comment__author,
    .comment__text,
    .comment__deleteButton {
      color: $color-main-dark;
    }
  }

  &_dark {
    background-color: $color-main-dark;

    .comment__author,
    .comment__text,
    .comment__deleteButton {
      color: $color-main-light;
    }
  }
}
