@import '../../styles/variables';

.friends {
  padding: $size-padding;
  border-radius: $size-border-radius;
  overflow: hidden;
  display: flex;
  justify-content: center;
  gap: 1rem;

  &_light {
    color: $color-dark;
    background-color: $color-main-light;
  }

  &_dark {
    color: $color-main-light;
    background-color: $color-main-dark;
  }
}

.noFriends {
  font-family: Roboto-Regular, sans-serif;
  font-size: 1.2rem;
}

@media (max-width: 1000px) {
  .friends {
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 650px) {
  .friends {
    padding: 1rem;
    flex-direction: row;
    justify-content: space-between;
  }
}

@media (max-width: 360px) {
  .friends {
    gap: 0.5rem;
  }
}
