@import '../../styles/variables';

.page {
  &__header {
    height: 25rem;
    border-radius: $size-border-radius;
    overflow: hidden;
    grid-area: header;
    display: flex;
    flex-direction: column;

    &_light {
      color: $color-dark;
      background-color: $color-main-light;

      .page__userCover {
        background: linear-gradient(90deg, #cce6ff, #7abfff, #52abff);
      }
    }

    &_dark {
      color: $color-main-light;
      background-color: $color-main-dark;

      .page__userCover {
        background: linear-gradient(90deg, #cce6ff, #6f6e99);
      }
    }
  }

  &__avatar {
    margin-top: -9rem;
    width: 15rem;
    height: 15rem;
    border-radius: 50%;
    background-color: $color-nav-hover;
    overflow: hidden;
  }

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__userCover {
    flex-grow: 1;
  }

  &__userInfo {
    padding: $size-padding;
    border-radius: $size-border-radius;
    display: flex;
    align-items: center;
  }

  &__info {
    margin-left: $size-padding;
  }

  &__name,
  &__status {
    font-family: Roboto-Regular, sans-serif;
  }

  &__name {
    margin-bottom: 1rem;
  }
}

@media (max-width: 650px) {
  .page {
    &__header {
      height: 15rem;
    }

    &__avatar {
      width: 8rem;
      height: 8rem;
    }

    &__name {
      font-size: 1.6rem;
    }

    &__status {
      font-size: 1.2rem;
    }
  }
}
